<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Super Simple Search</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
</head>
<body>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
      integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">


<div class="row justify-content-center">
    <h1 class="display-5 fw-bold lh-1 mb-3">Regiojet Search</h1>
</div>
<div class="row justify-content-center">
    <form method="POST" action="/results" class="form-inline" id="signup-form">

        <div class="form-group input-group-lg">
            <input type="text" name="origin" class="form-control input-lg" aria-describedby="emailHelp"
                   placeholder="Origin">
        </div>
        <div class="form-group input-group-lg">
            <input type="text" name="destination" class="form-control input-lg" aria-describedby="emailHelp"
                   placeholder="Destination">
        </div>
        <div class="input-group date">
            <input type="datetime-local" name="date" class="form-control" value="2021-12-20">
            <div class="input-group-addon">
                <span class="glyphicon glyphicon-th"></span>
            </div>
        </div>
        <button type="submit" class="btn btn-primary btn-lg">Search</button>

    </form>

</div>


</body>
</html>